starter/workflows/onboarding-workflow.json
{
  "name": "Employee Onboarding Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "onboarding/intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-intake",
      "name": "Webhook Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an onboarding assistant. Analyze the new hire information: {{ $json.body }}"
      },
      "id": "node-ai-extractor",
      "name": "AI Document Extractor",
      "type": "@n8n/n8n-nodes-langchain.chain",
      "typeVersion": 1.4,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0
        }
      },
      "id": "node-model-gpt4o",
      "name": "Model - GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        250,
        500
      ]
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": { \"type\": \"string\" },\n    \"email\": { \"type\": \"string\" },\n    \"role\": { \"type\": \"string\" },\n    \"department\": { \"type\": \"string\" },\n    \"confidence_score\": { \"type\": \"number\" }\n  },\n  \"required\": [\"name\", \"email\", \"role\", \"department\", \"confidence_score\"]\n}"
      },
      "id": "node-output-parser",
      "name": "Extraction Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1,
      "position": [
        380,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst sanitizedItems = [];\n\nfor (let i = 0; i < items.length; i++) {\n    const rawObject = items[i].json;\n    const extraction = rawObject.output ? rawObject.output : rawObject;\n    const rawConfidence = extraction.confidence_score !== undefined ? parseFloat(extraction.confidence_score) : 0.0;\n    \n    const name = extraction.name ? String(extraction.name).trim() : \"\";\n    const email = extraction.email ? String(extraction.email).trim().toLowerCase() : \"\";\n    const role = extraction.role ? String(extraction.role).trim() : \"General Associate\";\n    const dept = extraction.department ? String(extraction.department).trim() : \"Unassigned\";\n    \n    const validationErrors = rawObject.errors || [];\n    let routeManual = false;\n    const failureReasons = [];\n    \n    if (rawConfidence < 0.85) {\n        routeManual = true;\n        failureReasons.push(`Confidence score (${rawConfidence}) is below threshold of 0.85.`);\n    }\n    if (!name || name.length < 2) {\n        routeManual = true;\n        failureReasons.push(\"Extracted name is empty or too short.\");\n    }\n    const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n    if (!email || !emailRegex.test(email)) {\n        routeManual = true;\n        failureReasons.push(`Invalid email address format: \"${email}\".`);\n    }\n    if (validationErrors.length > 0) {\n        routeManual = true;\n        failureReasons.push(`Schema validation failed: ${JSON.stringify(validationErrors)}`);\n    }\n    \n    sanitizedItems.push({\n        json: {\n            employee_name: name,\n            employee_email: email,\n            job_role: role,\n            department: dept,\n            document_confidence: rawConfidence,\n            route_manual: routeManual,\n            evaluation_flags: failureReasons,\n            metadata: {\n                processed_timestamp: new Date().toISOString(),\n                payload_character_count: JSON.stringify(extraction).length\n            }\n        }\n    });\n}\nreturn sanitizedItems;"
      },
      "id": "node-sanitize-verify",
      "name": "Sanitize & Verify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.route_manual }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-confidence-router",
      "name": "Confidence Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "channel": "onboarding-reviews",
        "otherOptions": {},
        "blocksUi": {
          "blocksValues": [
            {
              "type": "header",
              "text": "🚨 Onboarding Case Requires Manual Review"
            },
            {
              "type": "section",
              "text": "*An AI extraction anomaly has been detected. Review details below.*"
            },
            {
              "type": "section",
              "fields": [
                "Name: {{ $json.employee_name }}",
                "Email: {{ $json.employee_email }}",
                "Role: {{ $json.job_role }}",
                "Confidence: {{ ($json.document_confidence * 100).toFixed(1) }}%"
              ]
            },
            {
              "type": "actions",
              "elements": [
                {
                  "type": "button",
                  "text": "Approve",
                  "style": "primary",
                  "value": "{\"resume_url\": \"{{ $execution.resumeUrl }}\", \"decision\": \"approve\", \"name\": \"{{ $json.employee_name }}\", \"email\": \"{{ $json.employee_email }}\", \"role\": \"{{ $json.job_role }}\"}"
                },
                {
                  "type": "button",
                  "text": "Reject",
                  "style": "danger",
                  "value": "{\"resume_url\": \"{{ $execution.resumeUrl }}\", \"decision\": \"reject\", \"name\": \"{{ $json.employee_name }}\", \"email\": \"{{ $json.employee_email }}\", \"role\": \"{{ $json.job_role }}\"}"
                }
              ]
            }
          ]
        }
      },
      "id": "node-post-slack-review",
      "name": "Post Slack Review",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        920,
        180
      ]
    },
    {
      "parameters": {
        "resume": "onWebhookCall",
        "httpMethod": "POST",
        "limitWaitTime": true,
        "amount": 24,
        "unit": "hours"
      },
      "id": "node-wait-approver",
      "name": "Wait for Approver",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        180
      ]
    },
    {
      "parameters": {
        "operation": "list",
        "base": "appOnboardingBase",
        "table": "Employees",
        "filterByFormula": "={Corporate Email} = '{{ $json.employee_email }}'"
      },
      "id": "node-fetch-profile",
      "name": "Fetch Company Profile",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByFields",
        "mergeByFields": {
          "values": [
            {
              "field1": "employee_email",
              "field2": "Corporate Email"
            }
          ]
        }
      },
      "id": "node-merge-records",
      "name": "Align & Merge Records",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1520,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an onboarding coordinator. Generate a 30/60/90-day plan for {{ $json.employee_name }} who is joining as a {{ $json.job_role }} in the {{ $json.department }} department reporting to {{ $json.manager }}. Provide output in clean markdown."
      },
      "id": "node-synthesize-roadmap",
      "name": "Synthesize Roadmap",
      "type": "@n8n/n8n-nodes-langchain.chain",
      "typeVersion": 1.4,
      "position": [
        1720,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": "appOnboardingBase",
        "table": "Employees",
        "id": "={{ $json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Onboarding Roadmap",
              "fieldValue": "={{ $json.output }}"
            },
            {
              "fieldId": "Status",
              "fieldValue": "Active"
            }
          ]
        }
      },
      "id": "node-update-core-record",
      "name": "Update Core Record",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1920,
        300
      ]
    },
    {
      "parameters": {
        "channel": "onboarding-status",
        "text": "=🎉 Onboarding complete for {{ $json.employee_name }} ({{ $json.job_role }})."
      },
      "id": "node-post-onboarding-status",
      "name": "Post Onboarding Status",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        2120,
        180
      ]
    },
    {
      "parameters": {
        "toEmail": "={{ $json.employee_email }}",
        "subject": "Welcome to the Team, {{ $json.employee_name }}!",
        "format": "html",
        "html": "=<h1>Welcome!</h1><p>Here is your personalized roadmap:</p><div>{{ $json[\"Onboarding Roadmap\"] }}</div>"
      },
      "id": "node-send-welcome-packet",
      "name": "Send Welcome Packet",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2120,
        300
      ]
    },
    {
      "parameters": {
        "calendarId": "primary",
        "title": "=Welcome Sync: {{ $json.employee_name }}",
        "start": "={{ $json.start_date }}T10:00:00Z",
        "end": "={{ $json.start_date }}T11:00:00Z",
        "attendees": [
          "={{ $json.employee_email }}"
        ]
      },
      "id": "node-set-welcome-syncs",
      "name": "Set Welcome Syncs",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        2120,
        420
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack/interactivity",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-slack-callback-trigger",
      "name": "Slack Interactivity Callback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        800
      ]
    },
    {
      "parameters": {
        "responseMode": "responseNode",
        "responseBody": "Immediate HTTP 200"
      },
      "id": "node-respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        300,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) return [];\nconst rawPayload = items[0].json.body.payload;\nconst decodedPayload = JSON.parse(decodeURIComponent(rawPayload));\nconst actionValue = JSON.parse(decodedPayload.actions[0].value);\n\nreturn [{\n    json: {\n        resume_url: actionValue.resume_url,\n        decision: actionValue.decision,\n        employee_name: actionValue.name,\n        employee_email: actionValue.email,\n        job_role: actionValue.role,\n        approved_by: decodedPayload.user.name,\n        slack_timestamp: decodedPayload.message.ts,\n        slack_channel: decodedPayload.channel.id\n    }\n}];"
      },
      "id": "node-payload-extractor",
      "name": "Payload Extractor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.resume_url }}",
        "sendBody": true,
        "bodyParametersUi": {
          "parameterValues": [
            {
              "name": "decision",
              "value": "={{ $json.decision }}"
            },
            {
              "name": "employee_name",
              "value": "={{ $json.employee_name }}"
            },
            {
              "name": "employee_email",
              "value": "={{ $json.employee_email }}"
            },
            {
              "name": "job_role",
              "value": "={{ $json.job_role }}"
            },
            {
              "name": "approved_by",
              "value": "={{ $json.approved_by }}"
            }
          ]
        }
      },
      "id": "node-resume-dispatcher",
      "name": "HTTP Request / Resume Dispatcher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        800
      ]
    }
  ],
  "connections": {
    "Webhook Intake": {
      "main": [
        [
          {
            "node": "AI Document Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model - GPT-4o": {
      "ai_languageModel": [
        [
          {
            "node": "AI Document Extractor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Synthesize Roadmap",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extraction Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Document Extractor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Document Extractor": {
      "main": [
        [
          {
            "node": "Sanitize & Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize & Verify": {
      "main": [
        [
          {
            "node": "Confidence Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence Router": {
      "main": [
        [
          {
            "node": "Post Slack Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Company Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Slack Review": {
      "main": [
        [
          {
            "node": "Wait for Approver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approver": {
      "main": [
        [
          {
            "node": "Fetch Company Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Company Profile": {
      "main": [
        [
          {
            "node": "Align & Merge Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Align & Merge Records": {
      "main": [
        [
          {
            "node": "Synthesize Roadmap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Synthesize Roadmap": {
      "main": [
        [
          {
            "node": "Update Core Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Core Record": {
      "main": [
        [
          {
            "node": "Post Onboarding Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Welcome Packet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Welcome Syncs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Interactivity Callback": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Payload Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Extractor": {
      "main": [
        [
          {
            "node": "HTTP Request / Resume Dispatcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
